<div class="container">

<div class="search">
<%= form_tag cars_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control input",
    placeholder: "Search for Make, Model or Location"
  %>
  <%= submit_tag "Search", class: "btn btn-primary search-button" %>
<% end %>
</div>
<br></br>
  <h1 style="text-align: center;">Cars For Hire</h1>
  <div class="cards">
    <% @cars.each do | car | %>
      <div class="card-trip">
        <%= image_tag(car.photo_url, size: "600x400") %>
        <div class="card-trip-infos">
          <div>
            <h2><%= link_to "#{car.make} #{car.model}", car_path(car)%></h2>
            <p>Located in <%= car.location %></p>
          </div>
          <h2 class="card-trip-pricing"><%= car.price %></h2>
        </div>
      </div>
    <% end %>
  </div>
</div>
